# Base de datos local
elo_project.db

# Archivos cargados por usuarios (Multimedia)
data/
uploads/
bugs-errores-inconsistencias/
DIAN.jso
SENA.json

# Entornos virtuales
.venv/
.ven-ELO/
venv/
env/

# Configuración sensible
.env


# Archivos temporales de Python
__pycache__/
*.py[cod]
